# Build artifacts
/out/
/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/install_manifest.txt
/*.cmake
/*.sln
/*.vcxproj*
/Makefile
/*.obj
/*.o
/*.exe
/*.pdb
/*.dll
/*.lib
/*.a
/*.so
/*.dylib

# Submodules
/external/**/*.lib
/external/**/*.a
/external/**/*.so
/external/**/*.dll
/external/**/*.obj
/external/**/*.o

# Visual Studio temporary files
*.user
*.userosscache
*.suo
*.ipch
*.opensdf
*.VC.db
*.VC.VC.opendb
/.vs/

# VS Code workspace settings
.vscode/

# Windows files
Thumbs.db
Desktop.ini

# MacOS files
.DS_Store

# Log files
*.log

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
