[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib
[submodule "external/enet"]
	path = external/enet
	url = https://github.com/lsalzman/enet.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
